@tailwind base;
@tailwind components;
@tailwind utilities;

.upload-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.upload-container-store {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.upload-button {
  margin-right: 10px;
}

.upload-info {
  flex-grow: 1;
}

.upload-info p {
  margin: 0;
}

.upload-info a {
  text-decoration: underline;
}

.str-chat.messaging.str-chat-channel.str-chat__channel {
  max-height: 91.4vh;
}

.str-chat.messaging.str-chat-channel-list.str-chat__channel-list.str-chat__channel-list-react.str-chat-channel-list--open {
  margin-top: 8.4vh;
}

.str-chat.messaging.str-chat-channel-list.str-chat__channel-list.str-chat__channel-list-react {
  margin-top: 8.4vh;
}

.str-chat__message-simple-status.str-chat__message-status {
  position: unset !important;
}

.str-chat__message-simple__actions__action.str-chat__message-simple__actions__action--thread.str-chat__message-reply-in-thread-button {
  display: none;
}
