@tailwind base;
@tailwind components;
@tailwind utilities;

.upload-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.upload-button {
  margin-right: 10px;
}

.upload-info {
  flex-grow: 1;
}

.upload-info p {
  margin: 0;
}

.upload-info a {
  text-decoration: underline;
}
